$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  padding: 0;
  background-color: #dddddd;
}

.topbar {
  background-color: #333;
}

.page-title,
.section-title {
  width: 100%;
}

.page-title {
  margin: 2em 0 0;
  font-size: 1.5em;
  padding: .1em .5em;
}

.section-title {
  font-size: 1.2em;
  padding: .2em .7em;
}

.section {
  margin: 2em 0;
}

.paper {
  background-color: #fff;
  margin: 1em 0;
  cursor: text;
  min-height: 4em;
  padding: 1em;
}