$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  padding: 0;
  background-color: #fff;
}

ul.nav {
  font-weight: bold;
}

ul.nav ul {
  font-weight: normal;
}

ul.nav,
ul.nav ul,
ul.projects,{
  list-style-type: none;
  padding: 0;
}

ul.nav li span.title {
  background-color: #EFEFEF;
  color: #5B5B5B;
  padding: .8em .5em;
}

ul.nav li span.title:hover {
  background-color: #e5e5e5;
}

ul.nav ul li span.title {
  background-color: #FFFFFF;
  font-size: .9em;
  padding: .8em 1em;
  border-bottom: 0.1em solid #F6F6F6;
}

ul.nav ul li span.title:hover {
  background-color: #f9f9f9;
}

ul.nav li span.title,
ul.nav ul li span.title {
  display: block;
}

ul.nav ul li span.title.plus {
  background-color: rgb(129, 211, 129);
  color: #fff;
}

ul.nav ul li span.title.plus:hover {
  background-color: rgb(145, 232, 145);
}

ul.nav li span.title.plus {
  background-color: #337ab7;
  color: #fff;
}

ul.nav li span.title.plus:hover {
  background-color: #286090;
}

ul.projects,{
  margin-bottom: 1em;
  display: inline-block;
}

ul.projects li,{
  width: 9em;
  height: 9em;
  padding: 3em .5em;
  margin: 0 1em 1em 0;
  text-align: center;
  font-size: .9em;
  display: block;
  border: .1em dashed black;
  border-radius: 4px;
  background-color: rgb(233, 239, 247);
  float: left;
  overflow: hidden;
}

.topbar {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 4em;
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  z-index: 1;
}

.navi {
  position: fixed;
  background: #fff;
  border-right: .1em solid rgb(215, 215, 215);
  padding: 0;
  top: 4em;
  bottom: 0;
  overflow: auto;
}

.page-title,
.section-title {
  width: 100%;
}

.page-title {
  margin: 0;
  font-size: 1.5em;
  padding: .1em .5em;
}

.section-title {
  font-size: 1.2em;
  padding: .2em .7em;
  margin-top: .5em;
}

.section {
  padding: 1.4em .5em 1em;
  margin: .4em 0;
  background-color: #F4F4F4;
  border-radius: 4px;
}

.paper {
  background-color: #fff;
  margin: 1em 0;
  cursor: text;
  min-height: 4em;
  padding: 1em;
}