<div class="container-fluid">

  <div class="row">
    <div class="topbar col-md-12">

    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2" style="margin-top: 4em;">
      <h2>Documents</h2>
      <ul class="projects">
        <li ng-click="createToDrive()">
            <span ng-click="new()">
                <span class="title plus">
                    <span class="glyphicon glyphicon-plus" style="font-size: 2.2em; color: #A8F46C;"></span><br>
                    <span style="color: #333">New project</span>
                </span>
            </span>
        </li>
        <li ng-repeat="project in projects" style="position: relative;">
          <div class="remove-project" ng-click="delete(project.id)">
            <span class="glyphicon glyphicon-remove" style="font-size: 1.5em;"></span>
          </div>
          <a ng-href="#edit/{{project.id}}">
              <span class="glyphicon glyphicon-file" style="font-size: 2.2em;"></span><br>
              <span class="title" style="color: #333">{{project.title}}</span>
          </a>
        </li>
      </ul>
      <!--h2>Shared with me</h2>
      <ul class="projects">
        <li ng-repeat="project in sharedProjects" ng-click="scrollToDiv(page, '#'+section.id)">
            <a ng-href="#edit/{{project.id}}">
                <span class="glyphicon glyphicon-file" style="font-size: 2.2em;"></span><br>
                <span class="title">{{project.title}}</span>
            </a>
        </li>
      </ul-->
    </div>
  </div>

</div>