<div class="wrapper">

  <div class="top"></div>
  <div class="header">

    <div class="logo"></div>

    <ul class="nav">
      <li ng-click="goto('/');"><span class="glyphicon glyphicon-list"></span> <span class="large">Dashboard</span></li>
    </ul>

  </div>

  <div class="container">
    <h2>Documents</h2>
    <table style="width: 100%; font-size: 1.2em;">
      <tr>
        <td style="padding: .5em" ng-click="new()">
           <span class="glyphicon glyphicon-plus"></span>
           <span><b>New project</b></span>
        </td>
      </tr>
      <tr ng-repeat="project in projects">
        <td style="padding: .5em">
          <a ng-href="#edit/{{project.id}}">
            <span class="glyphicon glyphicon-file"></span>
            <span>{{project.title}}</span>
          </a>
        </td>
        <td style="padding: .5em">
          <span ng-click="delete(project.id)" class="glyphicon glyphicon-trash" style="float: right"></span>
        </td>
      </tr>
    </table>

    <h2>Shared with me</h2>
    <table style="width: 100%; font-size: 1.2em;">
      <tr ng-repeat="project in sharedProjects">
        <td style="padding: .5em">
          <a ng-href="#edit/{{project.id}}">
            <span class="glyphicon glyphicon-file"></span>
            <span>{{project.title}}</span>
          </a>
        </td>
        <td style="padding: .5em">
          <span ng-click="delete(project.id)" class="glyphicon glyphicon-trash" style="float: right"></span>
        </td>
      </tr>
    </table>
  </div>

</div>