<div class="menu">
  <div class="wrapper">
    <button ng-click="goto('/');">
      <span class="glyphicon glyphicon-list"></span> Dashboard
    </button>
    <button ng-click="share();">
      <span class="glyphicon glyphicon-share"></span> Share
    </button>
    <button class="save" ng-click="saveToDrive();" ng-hide="saving">
      <span class="glyphicon glyphicon-save-file"></span> Save
    </button>
    <button ng-show="saving">
      <span class="glyphicon glyphicon-save-file"></span> Saving...
    </button>
    <button ng-click="export();">
      <span class="glyphicon glyphicon-download"></span> Export website
    </button>
    <button ng-click="delete();" style="float: right;">
      <span class="glyphicon glyphicon-trash"></span> Delete project
    </button>
  </div>
</div>

<div class="toggle" ng-click="toggleMenu()"></div>

<header>
  <div class="logo">
    <input type="file" nv-file-select uploader="uploader"/><br/>
  </div>
  <div class="main-title">
    <input type="text" ng-model="model.headerTitle" placeholder="Header Title">
  </div>
</header>

<div class="nav-mobile">
  <ul ui-sortable="sortableOptions" ng-model="model.pages">
    <li ng-repeat="page in model.pages" ng-click="switchPage(page, $index);">
        <span title="{{page.title}}" style="position: relative;">
          <span class="glyphicon glyphicon-sort draw"></span>
          {{page.title}}
          <span class="glyphicon glyphicon-trash trash1" ng-click="removePage($index);"></span>
        </span>
      <ul ui-sortable="sortableOptions" ng-model="page.sections">
        <li ng-repeat="section in page.sections">
            <span ng-click="scrollToDiv(page, '#'+section.id)" title="{{section.title}}" style="position: relative;">
              <span class="glyphicon glyphicon-sort draw"></span>
              {{section.title}}
              <span class="glyphicon glyphicon-trash trash2" ng-click="removeSection(page, $index);"></span>
            </span>
        </li>
        <li>
            <span title="Add Section" ng-click="addSection(page);">
              <span class="glyphicon glyphicon-plus plus"></span>
              Add Section
            </span>
        </li>
      </ul>
    </li>
    <li>
        <span title="Add Page" ng-click="addPage();">
          <span class="glyphicon glyphicon-plus plus"></span>
          Add Page
        </span>
    </li>
  </ul>
</div>

<div class="wrapper">

  <div class="nav-large">
    <ul ui-sortable="sortableOptions" ng-model="model.pages">
      <li ng-repeat="page in model.pages" ng-click="switchPage(page, $index);">
        <span title="{{page.title}}" style="position: relative;">
          <span class="glyphicon glyphicon-sort draw"></span>
          {{page.title}}
          <span class="glyphicon glyphicon-trash trash1" ng-click="removePage($index);"></span>
        </span>
        <ul ui-sortable="sortableOptions" ng-model="page.sections">
          <li ng-repeat="section in page.sections">
            <span ng-click="scrollToDiv(page, '#'+section.id)"  title="{{section.title}}" style="position: relative;">
              <span class="glyphicon glyphicon-sort draw"></span>
              {{section.title}}
              <span class="glyphicon glyphicon-trash trash2" ng-click="removeSection(page, $index);"></span>
            </span>
          </li>
          <li>
            <span title="Add Section" ng-click="addSection(page);">
              <span class="glyphicon glyphicon-plus plus"></span>
              Add Section
            </span>
          </li>
        </ul>
      </li>
      <li>
        <span title="Add Page" ng-click="addPage();">
          <span class="glyphicon glyphicon-plus plus"></span>
          Add Page
        </span>
      </li>
    </ul>
  </div>

  <div class="container">

    <h1>
      <input type="text" ng-model="currentPage.title" placeholder="Page Title">
    </h1>

    <div class="section" ng-repeat="section in currentPage.sections" id="{{section.id}}">
      <h1>
        <input type="text" ng-model="section.title" placeholder="Section Title">
      </h1>
      <div class="content" ui-tinymce="tinymceOptions" ng-model="section.model" content-editable></div>
    </div>

  </div>

  <div class="images" ng-hide="imageshidden">
    <ul>
      <li>
        <span class="uploaded-images"><b>Uploaded images</b></span>
      </li>
      <li ng-repeat="image in images">
            <span class="title">
              <img src="{{image.url}}" style="width: 3.5em; height: 2.5em; padding-right: .5em;"/>
              <span class="name">{{image.name}}</span>
              <span class="glyphicon glyphicon-trash" ng-click="deleteImage(image.url)" style="position: absolute; right: 3.5em; top: 1.2em"></span>
            </span>
      </li>
    </ul>
  </div>
  <div class="images-button" ng-init="imageshidden=true" ng-click="imageshidden=!imageshidden; getImages();"></div>

</div>