<div class="wrapper">

  <div class="top"></div>
  <div class="header">

    <div class="logo"></div>

    <ul class="nav">
      <li ng-click="goto('/');"><span class="glyphicon glyphicon-list"></span> <span class="large">Dashboard</span></li>
      <li ng-hide="config" class="active"><span class="glyphicon glyphicon-edit"></span> <span class="large">Editor</span></li>
      <li ng-show="config" ng-click="config=false"><span class="glyphicon glyphicon-edit"></span> <span class="large">Editor</span></li>
      <li ng-show="config" class="active"><span class="glyphicon glyphicon-book"></span> <span class="large">Config</span></li>
      <li ng-hide="config" ng-click="config=true"><span class="glyphicon glyphicon-book"></span> <span class="large">Config</span></li>
    </ul>
    <ul class="menu">
      <li class="save" ng-click="saveToDrive();" ng-hide="saving"><span class="glyphicon glyphicon-save-file"></span> <span class="large">Save</span></li>
      <li ng-show="saving"><span class="glyphicon glyphicon-save-file"></span> <span class="large">Saving...</span></li>
        <li ng-click="share();"><span class="glyphicon glyphicon-share"></span> <span class="large">Share</span></li>
        <li ng-click="export();"><span class="glyphicon glyphicon-download"></span> <span class="large">Export</span></li>
      <li ng-click="delete();"><span class="glyphicon glyphicon-trash"></span> <span class="large">Delete project</span></li>
    </ul>
  </div>

  <div class="navigator" ng-hide="config">

    <ul>
      <li ng-repeat="page in model.pages" ng-click="switchPage(page, $index);">
        <span class="title">{{page.title}}</span>
        <ul>
          <li ng-repeat="section in page.sections" ng-click="scrollToDiv(page, '#'+section.id)">
            <span class="title">{{section.title}}</span>
          </li>
          <li ng-hide="project.userPermission.role=='reader'" ng-click="addSection(page)">
            <span class="title plus">
                <span class="glyphicon glyphicon-plus plus"></span>
                Add section
            </span>
          </li>
        </ul>
      </li>
      <li ng-hide="project.userPermission.role=='reader'" ng-click="addPage()">
        <span class="title plus">
            <span class="glyphicon glyphicon-plus plus"></span>
            Add page
        </span>
      </li>
    </ul>

  </div>

  <div class="images" ng-hide="config">
    <ul>
      <li>
        <span class="uploaded-images"><b>Uploaded images</b></span>
      </li>
      <li ng-repeat="image in images">
            <span class="title">
              <img src="{{image.url}}" style="width: 3.5em; height: 2.5em; padding-right: .5em;"/>
              <span class="name">{{image.name}}</span>
              <span class="glyphicon glyphicon-trash" ng-click="deleteImage(image.url)" style="position: absolute; right: 1em; top: 1.2em"></span>
            </span>
      </li>
    </ul>
  </div>

  <div class="content" ng-hide="config">

    <input class="page-title" type="text" placeholder="Page title" ng-model="currentPage.title">
    <div ng-hide="project.userPermission.role=='reader'"
         class="button remove-page"
         ng-click="removePage(currentPageIndex)">
      <span class="glyphicon glyphicon-trash"></span>
      Remove page
    </div>
    <div class="section" ng-repeat="section in currentPage.sections" id="{{section.id}}" ng-click="switchSection(section);">
      <input class="section-title" type="text" placeholder="Title"  ng-model="section.title">

      <div ng-hide="project.userPermission.role=='reader'" class="button remove-section" ng-click="removeSection(currentPage, $index)">
        <span class="glyphicon glyphicon-trash"></span>
        Remove section
      </div>

      <div class="paper" ui-tinymce="tinymceOptions" ng-model="section.model" content-editable></div>
    </div>

  </div>

  <div class="container" ng-show="config">
    <div class="config">
      <span>Filename</span>
      <input type="text" placeholder="Filename" ng-model="project.title">
      <span>Author</span>
      <input type="text" placeholder="Author" ng-model="model.author">
      <span>Company</span>
      <input type="text" placeholder="Company" ng-model="model.company">
      <span>Website</span>
      <input type="text" placeholder="Website" ng-model="model.website">
      <span>Email</span>
      <input type="text" placeholder="Email" ng-model="model.email">
    </div>
  </div>

</div>