<div class="container-fluid">

  <div class="row">
    <div class="topbar col-md-12">
        <a href="#/">
          <button class="btn btn-info" style="float:left; margin-right: .4em; margin-top: .7em;">List projects</button>
        </a>
        <button ng-hide="saving" class="btn btn-info" style="margin-right: .4em; float:left; margin-top: .7em;" ng-click="saveToDrive();">Save project</button>
        <button ng-show="saving" class="btn btn-danger" style="margin-right: .4em; float:left; margin-top: .7em;">Saving...</button>
        <button class="btn btn-warning" style="float:left; margin-right: .4em; margin-top: .7em;" ng-click="share();">Share</button>
        <button class="btn btn-danger" style="float:left; margin-right: .4em; margin-top: .7em;" ng-click="delete();">Delete project</button>
        <input ng-model="project.title" style="float:left; width: 15em; margin-right: .4em; margin-top: .7em; padding: .38em;" type="text" placeholder="Filename">
        <button class="btn btn-primary" style="float: right; margin-top: .7em;" ng-click="export();">Export documentation</button>
    </div>
  </div>

  <div class="row">
      <div class="col-xs-3 navi">
          <ul class="nav">
              <li ng-repeat="page in pages" ng-click="switchPage(page, $index);">
                <span class="title">{{page.title}}</span>
                <ul>
                  <li ng-repeat="section in page.sections" ng-click="scrollToDiv(page, '#'+section.id)">
                      <span class="title">{{section.title}}</span>
                  </li>
                  <li ng-click="addSection(page)">
                      <span class="title plus">
                          <span class="glyphicon glyphicon-plus"></span>
                          Add section
                      </span>
                  </li>
                </ul>
              </li>
              <li ng-click="addPage()">
                  <span class="title plus">
                      <span class="glyphicon glyphicon-plus"></span>
                      Add page
                  </span>
              </li>
          </ul>
      </div>
      <div class="col-xs-9 col-xs-offset-3">
        <button class="btn btn-danger" style="float: right; margin: 5em 0 .5em;" ng-click="removePage(currentPageIndex)">Remove page</button>
        <br>
        <input class="page-title" type="text" placeholder="Page title" ng-model="currentPage.title">
        <div class="section" ng-repeat="section in currentPage.sections" id="{{section.id}}" ng-click="switchSection(section);">
            <button class="btn btn-danger" style="float: right;" ng-click="removeSection(currentPage, $index)">Remove section</button>
            <input class="section-title" type="text" placeholder="Title"  ng-model="section.title">
          <div class="paper" ui-tinymce="tinymceOptions" ng-model="section.model" content-editable></div>
        </div>
      </div>
  </div>

</div>